body{
    padding: 0%;
    margin: 40px;
}
.round{
    background-color: rgb(4, 53, 4);
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle{
    background-color: rgb(238, 22, 22);
    height: 250px;
    width: 250px;
    border-radius: 50%;
}